body{
	background:#FFF url(http://s3.goodfon.ru/image/33625-1920x1200.jpg) 0 0 no-repeat;
	
	background-attachment: fixed;
	background-color: #fff;
	background-position: center top;
	background-repeat: no-repeat;
}
.wrapper{
	background:#fff;
	border-radius:5px;
	padding:10px 20px;
	min-height:800px;
	
}
section, header{
	overflow:hidden;
	position:static;
}
article{
	 border-radius:0 5px 0 5px;
}
section article:nth-child(odd) {
background: #efefef;
}
.question{
  overflow:hidden;
  margin:0 0 10px 0;
  border:3px solid #77c34a;
  border-radius:5px;
  padding:0 0 0 70px;
}
.question ul{
	background: #eee;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);

	margin:0 0 5px 0;
	padding:0;
}
.question p{
	margin:0 0 5px 0;
	padding:0;
}

.abroad1{
	background: url(../image/plane.jpg) no-repeat;
}
.nature1{
	background: url(../image/bunch-flowers-24.jpg) no-repeat;
}
.temperature1{
	background: url(../image/sun.jpg) no-repeat;
}
.abroad1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/airplane-3-m.png) no-repeat;
}
.nature1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/bunch-flowers-m.png) no-repeat;
}
.cold1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/snow-m.png) no-repeat;	
}
.sun1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/sun-3-m.png) no-repeat;	
}
.fish1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/fish-2-m.png) no-repeat;	
}
.camp1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/tent-m.png) no-repeat;	
}
.hunt1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/easter-rabbit-m.png) no-repeat;	
}
.swim1{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/swimming-m.png) no-repeat;	
}


.abroad, .drink, .nature, .fish, .hunt, .board, .cold, .sun, .swim, .camp{
	background: url(../image/sprites.png) no-repeat;
	overflow:hidden;
	float:left;
	margin: 0 10px 0 0;
}

.abroad{
	background-position: 0 0;
	width: 16px;
	height: 16px;
}

.drink{
	background-position: -350px 0;
	width: 16px;
	height: 16px;
}

.nature{
	background-position: -50px 0;
	width: 16px;
	height: 16px;
}

.fish{
	background-position: -250px 0;
	width: 16px;
	height: 16px;
}

.hunt{
	background-position: -300px 0;
	width: 16px;
	height: 16px;
}

.board{
	background-position: -400px 0;
	width: 16px;
	height: 16px;
}
.cold{
	background-position: -150px 0;
	width: 16px;
	height: 16px;
}

.sun{
	background-position: -200px 0;
	width: 16px;
	height: 16px;
}

.swim{
	background-position: -450px 0;
	width: 16px;
	height: 16px;
}

.camp{
	background-position: -100px 0;
	width: 16px;
	height: 16px;
}
.btn{
	background-color:#999;
	color:#000;
	border-radius:5px;
	padding:10px;
	float:left;
	margin: 10px 0 0 10px;
}
.preview{
	height: 30px;
	overflow: hidden;
}
.natural,
.civil,
.hide,
.abroad_list,  
.nature_list,
.cold_list, 
.sun_list, 
.fish_list,   
.hunt_list,  
.swim_list,   
.drink_list,
.firstaid_list,
.camp_list,
.board_list,
.gadget_list,
.notebook_list,
.tour_list,
.rain_list
 {display: none;}

#timer{
	float:right;
	color:#77c34a;
	font-weight:bold;
	font-size:16px;
}
section{
	margin:0;
	width:620px;
}
.section h3{
	background:#77c34a;
	color:#fff;
	padding:3px;
}
h3{
	margin:20px 0 5px 0;
}
section p{
	margin:0;
	padding:0;
	font-size:14px;
}



.list{
	width:518px;
	
	border-right:2px solid #77c34a;
	border-radius:0 5px 5px 0;
	
	//padding:0 0 0 5px;
	
	overflow:hidden;
}
.list p{
	padding: 0 0 0 5px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	float:left;
	width:253px;
	color:#555;
}
.list div{
	
}
.title span{ 
	float:left;
	color:#77c34a;
	font-weight:bold;
	padding: 0 0 0 5px;
}
.triangle{
	width: 0; 
    height: 0;
    border-top: 3px solid transparent;
    border-left: 6px solid #77c34a;
    border-bottom: 3px solid transparent;
	
	display: table-cell;
    vertical-align: middle;
	position:relative;
	right:2px;
	top:7px;
	float:left;
}
.instruction{
	margin:0 0 25px 0;
}
.instruction p{
	font-size:12px;
	color:#77c34a;
}
.desc{
	padding:10px 0 0 0;
}
.btn-info, .btn-remember{
	border-bottom:1px dashed #666;
}
.info, .remember{
	display:none;
	
}
.q{
	overflow:hidden;
	//margin:0 0 5px 0;
	//background:#fafafa;
	font-size:12px;
	color:#999;
}
header .category h4{
	margin:10px 0 2px 0;
}
strong{
color:#666;
}

