body{
padding:20px;
}
.wrapper{
	overflow:hidden;
}
.question{
  overflow:hidden;
  margin:0 0 10px 0;
  border:3px solid #77c34a;
  border-radius:5px;
  padding:0 0 0 70px;
}
.question ul{
	background: #eee;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
	background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
	background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);

	margin:0 0 5px 0;
	padding:0;
}
.question p{
	margin:0 0 5px 0;
	padding:0;
}

.abroad{
	background: url(../image/plane.jpg) no-repeat;
}
.temperature{
	background: url(../image/sun.jpg) no-repeat;
}
.abroad{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/airplane-3-m.png) no-repeat;
}
.nature{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/bunch-flowers-m.png) no-repeat;
}
.cold{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/snow-m.png) no-repeat;	
}
.sun{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/sun-3-m.png) no-repeat;	
}
.fish{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/fish-2-m.png) no-repeat;	
}
.camp{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/tent-m.png) no-repeat;	
}
.hunt{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/easter-rabbit-m.png) no-repeat;	
}
.swim{
	background: url(http://www.iconsdb.com/icons/preview/color/77C34A/swimming-m.png) no-repeat;	
}

.btn{
	background-color:#999;
	color:#000;
	border-radius:5px;
	padding:10px;
	float:left;
	margin: 10px 0 0 10px;
}
.preview{
	height: 30px;
	overflow: hidden;
}
.abroad_list,  
.nature_list,
.cold_list, 
.sun_list, 
.fish_list,   
.hunt_list,  
.swim_list,   
.drink_list
 {display: none;}

header ul{
	height: 20px;
	width:auto;
	width:180px;
}
header li {
	width: 90px;
	float: left;
	height: 20px;
	border-right: none
}
header ul li + li {
	width: 89px;
	border-left: 1px solid #fff;
}

.tab-current{
	background:#77c34a;
	background: -moz-linear-gradient(top, #A8FA78 0%, #67AA3F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8FA78), color-stop(100%,#67AA3F));
	background: -webkit-linear-gradient(top, #A8FA78 0%,#67AA3F 100%);
	background: -o-linear-gradient(top, #A8FA78 0%,#67AA3F 100%);
	background: -ms-linear-gradient(top, #A8FA78 0%,#67AA3F 100%);
	background: linear-gradient(top, #A8FA78 0%,#67AA3F 100%);
}
header ul a {
	color: #666;
}
section{
	margin:0;
	width:550px;
}
.section h3{
	background:#77c34a;
	color:#fff;
	padding:3px;
}
section p{
	margin:0;
	padding:0;
	font-size:12px;
}
article p:nth-child(odd) {
	background: #fafafa;
	//background: rgba(50,50,50,0.1);
}
article{
	display: table;
	width:100%;
	overflow:hidden;
}
article .title{
	position:relative;
	background:#fff;
	display: table-cell;
    vertical-align: middle;
	
	width:90px;
	padding:0 10px 0 0;
}

.list{
	width:440px;
	padding:0 0 0 10px;
	border-left:2px solid #77c34a;
	border-radius:5px;
	margin: 0 0 2px 0;
}
.title span{ 
	float:left;
	color:#77c34a;
	font-weight:bold;
}
.triangle{
	width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 6px solid #77c34a;
    border-bottom: 3px solid transparent;
	
	display: table-cell;
    vertical-align: middle;
	position:relative;
	left:10px;
	top:10px;
	float:right;
}
.instruction{
	margin:0 0 25px 0;
}
.instruction p{
	font-size:12px;
	color:#77c34a;
}
.desc{
	margin:30px 0 0 0;
}
.btn-info{
	border-bottom:1px dashed #666;
}
.info{
	display:none;
}
.q{
	overflow:hidden;
	margin:0 0 10px 0;
	padding:0 0 0 40px;
	line-height:32px;
	//background:#fafafa;
}
.check{
	 width:18px;
	 height:18px;
	 border:3px solid #77c34a;
	 float:right;
	 background:#fff;
	 border-radius:2px;
	margin:4px 0 0 0;
	 
}
.check:hover{
	 cursor:hand;
	 cursor:pointer;
}
.active{
	background: url(http://abali.ru/wp-content/uploads/2011/03/galochka-check_16x16.png) 1px 1px no-repeat;

}



