.question{
  overflow:hidden;
  margin:0 0 20px 0;
  border:4px solid #77c34a;
  border-radius:5px;
  padding:10px;
}
.btn{
  background-color:#999;
  color:#000;
  border-radius:5px;
  padding:10px;
  float:left;
  margin: 10px 0 0 10px;
}
.preview{
			height: 30px;
			overflow: hidden;
}
div.t01,  
div.t02,
div.t11,  
div.t12,
div.t21,  
div.t22
{display: none}  	
